/* StockList table styles
 * Author Dan Björkgren 2017
 */
.table-row { /* Flexbox with items stretched */
    display:flex;
    flex-direction:row;
    align-items:stretch;
    border:1pt solid black;
    width:100%;
    margin:0px;
    padding:0px;
    flex-wrap:nowrap;
}

.sl-header > .table-cell > p::after {
    margin-left:0.2em;
    content: '\25b2';
}
.table-cell { /*Table cells fills the row
              * by growing */
    margin:0px;
    flex-grow:1;
    padding:1px 4px 1px 1px;
    width:22%;
    text-align:right;
    border: 0.5px #000;
    border-right-style: solid;
    border-bottom-style: none;
}
.col1 {
    text-align: left;
}
.col5 {
    border:none;
    width:12%;
    min-width:6ch;
}
.table-cell p {
    font-size:80%;
    padding:0px;
    margin:0px;
}

@media (max-width:420px) {
    .table-cell p {
        font-size:70%;
    }
    .sl-header > .table-cell > p::after {
        display:none;
    }
    .col5 {
        border:none;
        width:12%;
        min-width:4ch;
    }
}
