/* Main app window styling */
.App {
  text-align: center;
  outline-style: none;
}

.App-logo {
  height:2.6em;
  margin-right:0.3em;
}

.App-header {
  background-color: #222;
  padding: 2em;
  color: white;
  width:100%;
}

#add-portfolio::before { //+sign on button
  position:absolute;
  left:0.25em;
  top:0.35em;
  content:"\2795";
  color:#eeeeee;
  font-size:160%;
  margin-right: 8px;
  line-height: 0.8;
}
#add-portfolio {
  position:relative;
  margin-right:auto;
  margin-left:0;
  padding-left:40px;
  align-self: flex-start;
  z-index:10;
  /*  box-shadow: 0 5px #006cc0;*/
}
.App-title {
  font-size: 1.2em;
  margin:auto;
  flex-grow:1;
}

.contents {
  padding-bottom:3em;
  display:inline-block;
  width:100%;
}

.content-row {
  align-content:stretch;
}
.footer {
  position:fixed;
  bottom:0;
  background-color:#222;
  width:100%;
}

.footer * {
  font-size:80%;
  align-content:baseline;
  color:#aaa;
  padding:0.3em;
}

.add-div {
  display:flex;
  flex-wrap:wrap-reverse;
  margin:auto;
  flex:1 1;
}
.logo-div {
  flex:0 0 60px;
}
.error-list {
  border:1px solid black;
  background-color:#ffffff;
  color:black;
}
.error-item p {
  font-size:60%;
}
.error-item {
  font-size:60%;
  border-bottom:1px solid black;
    display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.error-list:hover {
  display:flex;
}
.credits {
  display:block;
}
.credits p {
  font-size:80%;
}
.credits a {
  font-size:90%;
}
@media (max-width:340px) {
  .App-title {
    align-self:center;
  }
}

@media (max-width:443px) {
  .App-header {
    padding:0.3em;
  }
}
@media (max-width:728px) {
  #add-portfolio {
      margin:auto;
  }
}
