/*Basic styling, inherited from earlier projects */
* {
	box-sizing:border-box;
}
body * {
	box-sizing:border-box; 	/* Due to GitHub Pages...*/
	font-family:Verdana,Geneva,sans-serif;
	font-size:12pt;
}
button { /*blue buttons*/
	padding: 7px 25px;
	color:white;
	background-color:#008CBA; /*This color is actually quite questionable*/
	border-radius:6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
button:disabled { /*gray buttons when disabled */
	background-color:#aaa;
}
button:focus {
	/* Remove the ugly blue
	 * frame around the button
	 * when selected. */
	outline:none;
}

.label { /* divs as labels, 
	  * suitable margin to
	  * the input element
	  * align nicely if different
	  * text length */
	margin-right:2em;
	min-width:15.5ch;
}
.vflex { /* vertical flexbox */
	display:flex;
	flex-direction:column;
}
.hflex { /*horizontal flexbox */
	display:flex;
	flex-direction:row;
	align-items:baseline; 
}
.fullwidth {
	width:100%;
}

.vcenter {
	margin-top:auto;
	margin-bottom:auto;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  /* Style for the input placeholders */
  color: #a0a0a0;
  font-style:italic;
}

.map { /* Google map dimensions */
	width:70%;
	height:50em;
	margin:auto; /* center */
	margin-top:2em;
	padding-top:2em;
}

.error { /* displays on error */
	margin-top:2em;
	text-align:center;
	border:8px solid red;
	padding:8px;
	color:red;
}
